doctype html
html
    head 
        block head 
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            link(rel="stylesheet", href="/css/style.css")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
            link(rel="shortcut icon", href="/img/favicon.png", type="image/png")
            title Natours | #{title}
    body(data-alert=`${alert ? alert : ''}`)
        // Header
        include _header

        // Main 
        block content
            h1 This is a placeholder heading

        // Footer
        include _footer
        
            //- script(src='/js/mapbox.js')
            //- script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous")
        
        script(src='https://js.stripe.com/v3/')
        script(src='/js/bundle.js')
        